In [1]:
#Numerice data type..there are basically 3 types of numeric data
#int are whole no. like 10,-10,1 etc
type(10-90)

int

In [2]:
#flot are decimal no. like 10.4,-10.2,1.5 etc
type(3+3.5)

float

In [4]:
#complex are those where no. used with j like 3j , 5j, 7j
type(3j)

complex

In [7]:
#Boolean Values, there are only two types i.e True or False
type(True)

bool

In [8]:
type(False)

bool

In [9]:
1 > 4

False

In [10]:
4==4

True

In [11]:
type(6==6)

bool

In [12]:
#String
#Single quote
'Abhay is best'

'Abhay is best'

In [13]:
#double quote
"Abhay is worst"

'Abhay is worst'

In [15]:
#multiline
"""
Abhay is best
abhay is worst
abhay is suck
"""

'\nAbhay is best\nabhay is worst\nabhay is suck\n'

In [16]:
z = """
Abhay is best
abhay is worst
abhay is suck
"""
print(z)

Abhay is best
abhay is worst
abhay is suck

In [20]:
a = "Abhay IS worst"
print(a[:5])

Abhay

In [18]:
print(a[:-5])

Abhay IS

In [22]:
print(a[6:8])

IS

In [23]:
print(a[6])

I

In [25]:
a*2

'Abhay IS worstAbhay IS worst'

In [26]:
a+a+a

'Abhay IS worstAbhay IS worstAbhay IS worst'

In [27]:
#list , create by using {},[]
[1,5,7]

[1, 5, 7]

In [28]:
{'cycle','bike','scooty'}

{'bike', 'cycle', 'scooty'}

In [38]:
#use .append to add element in list
Two_Wheeler = ['cycle','bike','scooty']
Two_Wheeler.append('Ev scooter')
Two_Wheeler

['cycle', 'bike', 'scooty', 'Ev scooter']

In [39]:
#use position no to replace element in list
Two_Wheeler[2] = 'petrol scooter'
Two_Wheeler

['cycle', 'bike', 'petrol scooter', 'Ev scooter']

In [44]:
#if there is list within the list
Student = ['abhay' , 'sahil' , 'rahul' , ['neha','simran','rina'],True ]
Student

['abhay', 'sahil', 'rahul', ['neha', 'simran', 'rina'], True]

In [45]:
Student[3]

['neha', 'simran', 'rina']

In [43]:
Student[3][2]

'rina'

In [46]:
#tuple are list which cretae with ()
tuple_list = (5, 3, 7, 1, 9)
tuple_list

(5, 3, 7, 1, 9)

In [48]:
#truple list cannot be edited
tuple_list.append[-1]

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
#sets are created with{}
sets={5,7,9,11}
sets

{5, 7, 9, 11}

In [50]:
type(sets)

set

In [51]:
#sets only print unique value
sets_one={5,7,9,11,34,56,5,7,9,8,4,11}
sets_one

{4, 5, 7, 8, 9, 11, 34, 56}

In [53]:
#we can combine or compare unique value of two sets using |
sets_two={2,4,6,8,10,12,14,16,8,5}
sets_three={1,2,3,5,7,13}
print(sets_one|sets_two|sets_three)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 34, 56}

In [55]:
# & use for print common element in different sets
print(sets_one&sets_two&sets_three)

{5}

In [57]:
# - use for print uncommon element in different sets
print(sets_one-sets_two-sets_three)

{56, 9, 34, 11}

In [58]:
#result always show from first set 
print(sets_two-sets_one)

{2, 6, 10, 12, 14, 16}

In [59]:
# ^ use for print uncommon element in both sets
print(sets_two^sets_one)

{34, 2, 6, 7, 9, 10, 11, 12, 14, 16, 56}

In [63]:
#dictionaries 
#key/value
dicti={'name':'Abhay','cast':'Pandey','age':28,'weight':75,'color':['black','brown']}
dicti

{'name': 'Abhay',
 'cast': 'Pandey',
 'age': 28,
 'weight': 75,
 'color': ['black', 'brown']}

In [64]:
type(dicti)

dict

In [70]:
dicti.values()

dict_values(['Abhay', 'Pandey', 28, 75, ['black', 'brown']])

In [71]:
dicti.keys()

dict_keys(['name', 'cast', 'age', 'weight', 'color'])

In [73]:
dicti.items()

dict_items([('name', 'Abhay'), ('cast', 'Pandey'), ('age', 28), ('weight', 75), ('color', ['black', 'brown'])])

In [76]:
#in dictionary we can use [1] for items instead we use key name [cast]
dicti[1]

KeyError: 1

In [77]:
dicti['cast']

'Pandey'

In [78]:
dicti['age']=27
dicti

{'name': 'Abhay',
 'cast': 'Pandey',
 'age': 27,
 'weight': 75,
 'color': ['black', 'brown']}

In [88]:
# .update use for uupdate or add items
dicti.update({'weight': 73,'status':'single'})
dicti

{'name': 'Abhay',
 'cast': 'Pandey',
 'age': 27,
 'weight': 73,
 'color': ['black', 'brown'],
 'status': 'single'}

In [89]:
# del use for delete
del dicti['color']
dicti

{'name': 'Abhay',
 'cast': 'Pandey',
 'age': 27,
 'weight': 73,
 'status': 'single'}