In [25]:
import pandas as pd

In [31]:
df = pd.read_excel(r"C:\Users\ASUS\Downloads\Data Analyst\Python\Python File sorter\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [32]:
df=df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [33]:
df=df.drop(columns='Not_Useful_Column')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [58]:
#df['Last_Name']=df['Last_Name'].str.lstrip('...')
#df['Last_Name']=df['Last_Name'].str.lstrip('/')
#df['Last_Name']=df['Last_Name'].str.rstrip('_')
df['Last_Name']=df['Last_Name'].str.strip('123._/') #to remove special character from column in one go
                                                    #give command 123 accordingly how many character you want to remove
                                                    # 7 right after enter special character
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Yes,No,Shire,None
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,None,None
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,None,None
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Yes,Y,Pennsylvania,18503
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,None,None
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,None,None
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,None,None
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,None,None
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,None,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,Yes,No,New York,None
10,1011,Samwise,Gamgee,NaN,612 Shire Lane,Yes,No,Shire,None
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,None,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,None,None
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,None,None
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,None,None
16,1017,Michael,Scott,123/643/9775,121 Paper Avenue,Yes,No,Pennsylvania,None
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,None,None
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,None,None
19,1020,Anakin,Skywalker,876|678|3469,910 Tatooine Road,Yes,N,Tatooine,None

In [59]:
#df[["Address","State","Zip Code"]]=df["Address"].str.split(',', expand=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Yes,No,Shire,None
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,None,None
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,None,None
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Yes,Y,Pennsylvania,18503
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,None,None
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,None,None
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,None,None
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,None,None
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,None,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,Yes,No,New York,None
10,1011,Samwise,Gamgee,NaN,612 Shire Lane,Yes,No,Shire,None
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,None,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,None,None
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,None,None
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,None,None
16,1017,Michael,Scott,123/643/9775,121 Paper Avenue,Yes,No,Pennsylvania,None
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,None,None
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,None,None
19,1020,Anakin,Skywalker,876|678|3469,910 Tatooine Road,Yes,N,Tatooine,None

In [64]:
df["Paying Customer"]=df["Paying Customer"].str.replace('Yes','Y')
df["Paying Customer"]=df["Paying Customer"].str.replace('No','N')
df["Do_Not_Contact"]=df["Do_Not_Contact"].str.replace('Yes','Y')
df["Do_Not_Contact"]=df["Do_Not_Contact"].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,None
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Y,None,None
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,None,None
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Y,Y,Pennsylvania,18503
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,None,None
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,None,None
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,None,None
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,None,None
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Y,NaN,None,None
9,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,None
10,1011,Samwise,Gamgee,NaN,612 Shire Lane,Y,N,Shire,None
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,None,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,None,None
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,None,None
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,None,None
16,1017,Michael,Scott,123/643/9775,121 Paper Avenue,Y,N,Pennsylvania,None
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,None,None
18,1019,Creed,Braton,N/a,N/a,N/a,Y,None,None
19,1020,Anakin,Skywalker,876|678|3469,910 Tatooine Road,Y,N,Tatooine,None

In [73]:
df=df.replace('N/a','') # str.replace used for remove elements from 1 column
                        #df.replace() used for remove elements from entire table
df=df.fillna('')   #fillna use for fill empty cell and by using '' command we fill empty space with blank 
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Y,,
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,,,
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Y,Y,Pennsylvania,18503
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,,
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,,
6,1007,Jeff,Winger,,1209 South Street,N,N,,
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,,
8,1009,Gandalf,,,123 Middle Earth,Y,,,
9,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,
10,1011,Samwise,Gamgee,,612 Shire Lane,Y,N,Shire,
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,,,
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,,
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,,
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,,
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,,
16,1017,Michael,Scott,123/643/9775,121 Paper Avenue,Y,N,Pennsylvania,
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,,,
18,1019,Creed,Braton,,,,Y,,
19,1020,Anakin,Skywalker,876|678|3469,910 Tatooine Road,Y,N,Tatooine,

In [76]:
for x in df.index:
    if df.loc[x, 'Do_Not_Contact'] == 'Y':
        df.drop(x, inplace=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,,,
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,,
6,1007,Jeff,Winger,,1209 South Street,N,N,,
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,,
8,1009,Gandalf,,,123 Middle Earth,Y,,,
9,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,
10,1011,Samwise,Gamgee,,612 Shire Lane,Y,N,Shire,
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,,,
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,,
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,,
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,,
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,,
16,1017,Michael,Scott,123/643/9775,121 Paper Avenue,Y,N,Pennsylvania,
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,,,
19,1020,Anakin,Skywalker,876|678|3469,910 Tatooine Road,Y,N,Tatooine,

In [107]:
for x in df.index:
    if df.loc[x, 'Phone_Number'] == '':
        df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,
2,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,,
3,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,,
4,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,
6,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,,
7,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,,
8,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,,
9,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,,
10,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Y,N,Pennsylvania,
12,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,

In [109]:
df =df.reset_index(drop=True) #we used drop=True bcoz it keep old index bcoz we saved all df previously
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,,
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,,
3,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,
4,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,,
5,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,,
6,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,,
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,,
8,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Y,N,Pennsylvania,
9,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,

In [104]:
df["Phone_Number"]=df["Phone_Number"].str.replace('-','')
df["Phone_Number"]=df["Phone_Number"].str.replace('|','')
df["Phone_Number"]=df["Phone_Number"].str.replace('/','')
df["Phone_Number"]=df["Phone_Number"].apply(lambda x: str(x))
df["Phone_Number"]=df["Phone_Number"].apply(lambda x: x[0:3]+'-'+x[3:6]+'-'+x[6:11])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,
1,1003,Walter,White,nan--,298 Drugs Driveway,N,,,
2,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,,
3,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,,
4,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,
5,1012,Harry,Potter,nan--,2394 Hogwarts Avenue,Y,,,
6,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,,
7,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,,
8,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,,
9,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,,
10,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Y,N,Pennsylvania,
11,1018,Clark,Kent,nan--,3498 Super Lane,Y,,,
12,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,

In [110]:
df=df.replace('nan--','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Y,N,Shire,
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,,
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,,
3,1010,Peter,Parker,123-545-5421,25th Main Street,Y,N,New York,
4,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,,
5,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,,
6,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,,
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,,
8,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Y,N,Pennsylvania,
9,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Y,N,Tatooine,